.header {
    margin: 0 auto;
    
}

.header-container {
    display: flex;
    width: 1128px;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-between;
    /* align-items: flex-end; */
    align-items: center;
}

.list {
    display:flex;
    flex-direction: row;
    list-style:none;
    padding-left: 20px;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
}


ul, li{
    position: relative;
    bottom: 0px;
    margin: 0px;
}

.header li {
    
}

.header .header-container img {
    margin-left: 0;
}

.header .header-container .list .list-name {
    color: #000000;
}