.header {
    margin: 0;
    /* background-color: lightslategray; */
    
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-evenly;
    /* background-color: aquamarine; */
}

.list {
    display: flex;
    flex-direction: row;
    list-style:none;
    /* background-color: saddlebrown; */
}


ul, li{
    position: relative;
    bottom: 0px;
    padding-left:20px;
    /* background-color: navy; */
}

.header .header-container img {
    margin-left: 0;
    /* background-color: pink; */
}

.header .header-container .list .list-name {
    color: #000000;
}